<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.primary_color }}">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged {{ current_tags | join: ', ' }}{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <meta property="og:site_name" content="{{ shop.name }}">
    <meta property="og:url" content="{{ canonical_url }}">
    <meta property="og:title" content="{{ page_title | escape }}">
    <meta property="og:type" content="website">
    {%- if page_description -%}
      <meta property="og:description" content="{{ page_description | escape }}">
    {%- endif -%}
    {%- if page_image -%}
      <meta property="og:image" content="http:{{ page_image | image_url }}">
      <meta property="og:image:secure_url" content="https:{{ page_image | image_url }}">
      <meta property="og:image:width" content="{{ page_image.width }}">
      <meta property="og:image:height" content="{{ page_image.height }}">
      <meta property="og:image:alt" content="{{ page_image.alt | escape }}">
    {%- endif -%}

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ page_title | escape }}">
    {%- if page_description -%}
      <meta name="twitter:description" content="{{ page_description | escape }}">
    {%- endif -%}

    {{ content_for_header }}

    {{ 'theme.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
  </head>

  <body class="template-{{ template.name | handle }}">
    {% section 'header' %}

    <main id="MainContent" class="content-for-layout" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}
  </body>
</html>
